.table1 {
    border: 2px solid forestgreen;
    width: 800px;
    height: 500px;
    background-color: white;
    color: black;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }